/**
 * TODO:
 * - Write CSS for this component
 * - Refer to the image in the readme
 * 
 * - Here are some sample colors to help you
 *   - orange button: #f36b0a
 *   - input border: #aaa
 *   - typeahead choices background: #e2e2e2
 *   - typeahead choices background with hover: #fff
 */

.typeahead {
    width: 182px;
}

.typeaheadInput {
  padding: 5px;
  border: 1px solid #aaa;
}

.typeaheadInput:focus {
  outline: 1px solid #f36b0a;
  border: 1px solid transparent;
}

.list{
    border: 1px #aaa solid;
    height: 100px;
    overflow-y: auto;
}

.option{
    background-color: grey;
}
.option:hover {
    background-color: white;
}