/**
 * TODO:
 * - Write CSS for this component
 * - Refer to the image in the readme
 * 
 * - Here are some sample colors to help you
 *   - orange button: #f36b0a
 *   - input border: #aaa
 *   - typeahead choices background: #e2e2e2
 *   - typeahead choices background with hover: #fff
 */

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-sizing;
}

.typeahead input {
  padding: 6px;
  border: 2px solid #aaa;
  border-radius: 4px;
  width: 300px;
}

button {
  background-color: #f36b0a;
  border: none;
  color: #fff;
  padding: 10px 16px;
  border-radius: 4px;
  font-weight: bold;
}
